body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: white;
    text-align: center;
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

#dark-mode-toggle {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    float: right;
    margin-right: 20px;
}

main {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background: white;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

article {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

footer {
    text-align: center;
    background: #333;
    color: white;
    padding: 10px;
    margin-top: 20px;
}

/* Mode Gelap */
body.dark {
    background-color: #222;
    color: white;
}

body.dark main {
    background: #333;
}

body.dark header, body.dark footer {
    background: black;
}
